@font-face {
  font-family: OrangeJuice;
  src: url(../fonts/oj.ttf);
}

a, a:hover, a:link, a:active {
  cursor: pointer;
  color: #E8DDC9;
}

h2 {
  text-align: center;
}

.page-header {
  font-family: 'Open Sans', sans-serif
}

#step1spinnercontainer {
  height: 200px;
}

#step1spinner {
  margin-top: 40px;
}

h1 {
  background-color: #3276b1;
  border-color: #285e8e;
  border-width: 1px;
  border-style: solid;
  color: white;
  padding: 20px;
  border-radius: 6px;
}

div.background {
  background-color: #FED93B;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
}

img.ninja {
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-left: -55px;
  z-index: 20;
}

div.ground {
  background-color: #550000;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: -moz-linear-gradient(top, #000000 0%, #550000 15%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(15%,#550000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #000000 0%,#550000 15%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #000000 0%,#550000 15%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #000000 0%,#550000 15%); /* IE10+ */
  background: linear-gradient(to bottom, #000000 0%,#550000 15%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#550000',GradientType=0 ); /* IE6-9 */
}

canvas#canvas {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

div.container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

div.content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  height: 50%;
  color: white;
}

div#step0 {
  position: relative;
  top: 40%;
  transform: translateY(-40%);
  text-align: center;
}

div#step1 {
  position: relative;
  top: 50%;
  margin-top: -130px;
}

input.form-control {
  height: 50px;
}

div.spinnerDiv {
  position: absolute;
  top: 10em;
  left: 50%;
}

div#step2 {
  position: absolute;
  top: 50%;
  margin-top: -120px;
  width: 100%;
}

div.session {
  position: relative;
}

div.session h3 {
  display: inline-block;
  color: #E8DDC9;
}

div.session ul {
  list-style-type: none;
  position: absolute;
  top: 20px;
  right: 0;
  font-size: 20px;
  max-width: 500px;
  text-align: right;
}

div.session li {
  display: inline-block;
  margin-right: 10px;
}

div#step2 .continuebtn {
  position: relative;
  top: 20px;
}

div#step3 {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -50px;
}

div#step3 a {
  margin-right: 20px;
}

div#step4 {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: -50px;
}

div#step6 {
  width: 100%;
  text-align: center;
  position: absolute;
  margin-top: -75px;
  top: 50%;
}

div.donate-button {
  margin-right: 20px;
  display: inline-block;
}

div.flattr-button {
  position: relative;
  top: 6px;
}